boto3
celery
dbt-copilot-python
dj-database-url
django-environ
django-log-formatter-asim
django==3.2.23
elasticsearch==7.10.1
gunicorn
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-wsgi
opentelemetry-propagator-aws-xray
opentelemetry-sdk-extension-aws
pip-tools
psycopg2-binary
python-dotenv
redis
requests
tenacity
whitenoise
